<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817132149173-hs154b0fekthd7mnf547cnb6c88v3sai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817132149173-hs154b0fekthd7mnf547cnb6c88v3sai</string>
	<key>API_KEY</key>
	<string>AIzaSyBxGsshLg77eoq-HsXINC0rkO-LE5K0esg</string>
	<key>GCM_SENDER_ID</key>
	<string>817132149173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtulab</string>
	<key>PROJECT_ID</key>
	<string>virtulab-9b909</string>
	<key>STORAGE_BUCKET</key>
	<string>virtulab-9b909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817132149173:ios:65e7e8af27c08e277c21fc</string>
	<key>DATABASE_URL</key>
	<string>https://virtulab-9b909.firebaseio.com</string>
</dict>
</plist>